/* https://web-designer.cman.jp/css_ref/abc_list/backface-visibility/ */

.align-items {
  display: inline-flex;
  align-items: center;
}
.alignItems {
  display: flex;
  align-items: center;
}

.alignItems2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCanvas {
  border-radius: 7px;
}

body {
  /* background-color: #C8D0D2; */
  background: rgba(255, 248, 222, 0.1);
  margin: 0;
}
